---
---
@font-face {
    font-family: calibri;
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: calibri;
    font-style: normal;
    font-weight: 400;
}

body {
    width: 100%;
    font-family: serif;
    font-size: 18px;
    font-weight: normal;
    background: #FCF2FA url("../img/bodybg.jpg") repeat-x top center;
    margin: 0 auto;
    padding: 0;
}

#page {
    margin: 40px auto;
    width: 100%;
    max-width: 1240px;
    padding: 0;
}

#title > h2 {
    text-align: center;
}

h1, p.home {
    font-family: calibri, sans-serif;
    font-size: 57px;
    font-weight: normal;
    text-align: center;
    padding: 30px 0 5px 0;
    margin: 0;
}

h2 {
    font-size: 32px;
    margin-bottom: 50px;
    font-family: calibri, sans-serif;
}

h3 {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 25px;
    margin: 0;
    float: left;
}

h4 {
    font-size: 24px;
    font-weight: bold;
    padding: 0;
    margin: 1.5em 0 0.5em;
    clear: both;
}
h5 {
    font-size: 20px;
    font-weight: bold;
    padding: 0;
    margin: 1.5em 0 0.5em;
    clear: both;
}
h6 {
    font-size: 18px;
    font-weight: bold;
    padding: 0;
    margin: 1.5em 0 0.5em;
    clear: both;
}

p {
    margin: 0;
    padding: 0 0 10px 0;
    clear: both;
    font-size: 18px;
}

ol {
    padding-left: 3em;
 /*   font-weight: bold;    */
    clear: both;
    font-size: 18px;
}
ol.cislovanySeznam {
    font-weight: normal;
}

ul {
    list-style: none;
    font-weight: bold;
    clear: both;
    font-size: 18px;
}

a {
    color: #fff;
}

code {
    font-weight: bold;
}

.header {
    text-align: center;
}

.content, .content-top {
    color: #fff;
    padding: 40px;
    background: #c5308a;
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.content-top {
	border-color: #c5308a;
	border-style: solid;
	border-width: 10px;
	background: #FCF2FA;
	color: #c5308a;
}
.content-top a, .content-top h3{
	color: #8b008b;
}
#info {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.published-timestamp {
    text-align: right;
    display: block;
    padding: 2px;
    float: right;
    font-size: 18px;
}

.screenshot {
    margin-top: 1em;
    margin-bottom: 1.5em;
    clear: both;
}

.java-source {
    margin-bottom: 1em;
    padding: 0.5em;
    border: dashed;
    background-color: #a82a7a;
    clear: both;
    font-size: 18px;
    overflow: hidden;
}

.java-source-code {
    margin-bottom: 1em;
    padding: 0.5em;
    border: dashed;
    background-color: #a82a7a;
    clear: both;
    font-size: 18px;
    white-space: pre;
    font-family: monospace;
    overflow: hidden;
}

javaCode {
    display: block;
    margin-bottom: 1em;
    padding: 0.5em;
    border: dashed;
    background-color: #a82a7a;
    clear: both;
    font-size: 18px;
    white-space: pre;
    font-family: monospace;
}

.grey-out {
    color: #A0A0A0;
}

.updated {
    color: #000000;
    font-weight: bold;
}
#ukoly {
	list-style: circle;
}
ol.icka{
	list-style-type: lower-roman;
	font-weight: normal;
	font-size: 18px;
}
ul.odrazky{
    list-style-type: circle;
    font-weight: normal;
    font-size: 18px;
}
ol.pismena{
	list-style-type: lower-alpha;
	font-weight: normal;
	font-size: 18px;
}
ol.nadpisy {
	font-weight: normal;
	font-size: 18px;
}
.nadpisy > li {
    margin-top: 2em;
}
ol.nadpisy span {
/*	color: #8b008b;  */
	font-size: 18px;
	font-weight: bold;
}
ol.pismena span {
/*	color: #2a2a2a; */
	font-size: 18px;
	font-weight: normal;
}

.odsazeniTop {
    margin-top: 3em;
}

.odsazeniTopSmall {
    margin-top: 1em;
}

.db-table {
    border-width: 2px;
    border-style: solid;
    border-collapse: collapse;
}

.db-table th, .db-table td {
    border-width: 2px;
    border-style: solid;
    padding: 10px;
}

.source-code-highlight {
    font-weight: bold;
    color: aqua;
}